node_modules
src
public
.git
bun.lockb
package.json
package-lock.json
tsconfig*.json
vite.config.ts
vitest.config.ts
eslint.config.js
postcss.config.js
tailwind.config.ts
components.json
*.css
README.md
supabase
.gitignore
.env
